*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mt-30{
  margin-top: 30px !important;
} 
.mr-5{
  margin-right: 5px !important;
}
.ml-5{
  margin-left: 5px !important;
}
.mt-5{
  margin-top: 5px !important;
}
.mb-5{
  margin-bottom: 5px !important;
}
.align-center{
  align-items: center !important;
}
.lh-3{
  line-height: 3rem !important;
}
.search-control{
  display: flex;
  flex-direction: row;  
}
.button-space{
  position: relative;
  left: 70%;
}
.display-none{
  display: none;
}
.sort-selected {
  color: orange !important;
  font-weight: bold !important;
}
.text-center{
  text-align: center;
  cursor: pointer;
  margin-bottom: 5px;
}